body{
    font-size: 1rem;
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    justify-content: space-between;
    margin: 5px 50px;
    align-items: center;
}

.logo{
    font-size: 50px;
    font-family:fantasy;
    text-decoration:underline;
}

.nav{
    display: flex;
    gap: 20px;
}

.nav h4{
    font-size: 20px;    
}